/*Variables con colores de la paleta*/
$colorPrimario: #FFC20E;
$colorSecundario: #000;
$colorComplementario: #A5ACAF;


/*Variables para media queries*/
$pantallaCelular: 600px;
$pantallaTablet: 992px;
